{
    "bracketSpacing": true,
    "printWidth": 140,
    "singleQuote": true,
    "trailingComma": "none",
    "tabWidth": 4,
    "useTabs": false,
    "semi": true,
    "quoteProps": "as-needed",
    "jsxSingleQuote": false,
    "arrowParens": "always",
    "endOfLine": "lf",
    "jsxBracketSameLine": false,
    "requirePragma": false,
    "insertPragma": false,
    "proseWrap": "preserve",
    "vueIndentScriptAndStyle": false
}
