/* Define the raindrop animation */
@keyframes raindropAnimation {
    0% {
        transform: translateY(-10%);
        opacity: 0.6;
    }
    100% {
        transform: translateY(100vh);
        opacity: 1;
    }
}

/* Apply the animation to the raindrop element */
.raindrop {
    position: absolute;
    width: 3px;
    border-radius: '20%';
    height: 55px;
    background: linear-gradient(rgba(212, 212, 250, 0), rgba(230, 230, 248, 0.4), rgba(212, 212, 250, 1));

    /* background-color: rgb(212, 212, 250); Blue color, you can change it */
}
