@font-face {
    font-family: 'pretendard';
    font-style: normal;
    font-weight: 100;
    src: url(assets/fonts/Pretendard-Thin.woff2) format('woff2'), url(assets/fonts/Pretendard-Thin.woff) format('woff'),
        url(assets/fonts/Pretendard-Thin.otf) format('opentype');
}
@font-face {
    font-family: 'pretendard';
    font-style: normal;
    font-weight: 200;
    src: url(assets/fonts/Pretendard-Light.woff2) format('woff2'), url(assets/fonts/Pretendard-Light.woff) format('woff'),
        url(assets/fonts/Pretendard-Light.otf) format('opentype');
}
@font-face {
    font-family: 'pretendard';
    font-style: normal;
    font-weight: 400;
    src: url(assets/fonts/Pretendard-Regular.woff2) format('woff2'), url(assets/fonts/Pretendard-Regular.woff) format('woff'),
        url(assets/fonts/Pretendard-Regular.otf) format('opentype');
}
@font-face {
    font-family: 'pretendard';
    font-style: normal;
    font-weight: 500;
    src: url(assets/fonts/Pretendard-Medium.woff2) format('woff2'), url(assets/fonts/Pretendard-Medium.woff) format('woff'),
        url(assets/fonts/Pretendard-Medium.otf) format('opentype');
}
@font-face {
    font-family: 'pretendard';
    font-style: normal;
    font-weight: 600;
    src: url(assets/fonts/Pretendard-SemiBold.woff2) format('woff2'), url(assets/fonts/Pretendard-SemiBold.woff) format('woff'),
        url(assets/fonts/Pretendard-SemiBold.otf) format('opentype');
}
@font-face {
    font-family: 'pretendard';
    font-style: normal;
    font-weight: 700;
    src: url(assets/fonts/Pretendard-Bold.woff2) format('woff2'), url(assets/fonts/Pretendard-Bold.woff) format('woff'),
        url(assets/fonts/Pretendard-Bold.otf) format('opentype');
}
@font-face {
    font-family: 'pretendard';
    font-style: normal;
    font-weight: 800;
    src: url(assets/fonts/Pretendard-Black.woff2) format('woff2'), url(assets/fonts/Pretendard-Black.woff) format('woff'),
        url(assets/fonts/Pretendard-Black.otf) format('opentype');
}
@font-face {
    font-family: 'pretendard';
    font-style: normal;
    font-weight: 900;
    src: url(assets/fonts/Pretendard-ExtraBold.woff2) format('woff2'), url(assets/fonts/Pretendard-ExtraBold.woff) format('woff'),
        url(assets/fonts/Pretendard-ExtraBold.otf) format('opentype');
}
@font-face {
    font-family: 'pretendard';
    font-style: normal;
    font-weight: 1000;
    src: url(assets/fonts/Pretendard-ExtraLight.woff2) format('woff2'), url(assets/fonts/Pretendard-ExtraLight.woff) format('woff'),
        url(assets/fonts/Pretendard-ExtraLight.otf) format('opentype');
}

div,
span {
    font-family: 'pretendard';
    font-size: 13px;
}
.editable-cell {
    position: relative;
}

.editable-cell-value-wrap {
    padding: 5px 12px;
    cursor: pointer;
}

.editable-row:hover .editable-cell-value-wrap {
    padding: 4px 11px;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
}

[data-theme='dark'] .editable-row:hover .editable-cell-value-wrap {
    border: 1px solid #434343;
}

.table-row-light {
    background-color: #ffffff;
}

.table-row-lightblue {
    background-color: #eff5ff;
}

.custom-search-input input {
    font-size: 12px;
}
